<div class="label">
  {{ min }}
</div>
<div class="track" (click)="onTrackClick($event.clientX)" #track>
  <div
    class="thumb"
    (mousedown)="onMouseDown($event.clientX)"
    (keyup)="onKeyUp($event.key)"
    [style.left.%]="position * 100"
    tabindex="0"
  ></div>
</div>
<div class="label">
  {{ max }}
</div>
