:host {
  display: flex;
  width: 100%;
  margin: 0.5rem 0;
  align-items: center;
}

.label {
  padding: 0.5rem;
}

.track {
  flex: 1;
  position: relative;
  width: 100%;
  height: 0.25rem;
  margin: 0 0.5rem;

  background: var(--accent-color);
  border-radius: 0.125rem;
}

.thumb {
  position: absolute;
  top: -0.375rem;
  margin-left: -0.5rem;
  height: 1rem;
  width: 1rem;

  background: var(--bg-color);
  border-radius: 50%;
  border: 2px solid var(--fg-color);
}

.thumb:focus {
  outline: 0;
  box-shadow: 0 0 5px var(--fg-color);
  background: var(--fg-color);
}
