<div *ngIf="!editing" class="card">
  <pre>{{ card.content }}</pre>
  <div class="toolbar">
    <div class="toolbar-left">
      <button (click)="downvote()" title="nah fam">👎</button>
      <span>{{ fakeVoteCount }}</span>
      <button (click)="upvote()" title="noice">👍</button>
    </div>
    <div class="toolbar-right">
      <button *ngIf="isMyCard" (click)="edit()" title="edit">📝</button>
      <button *ngIf="isMyCard" (click)="delete()" title="delete">❌</button>
    </div>
  </div>
</div>
<form *ngIf="editing" class="card" [formGroup]="formGroup" (ngSubmit)="save()">
  <textarea #contentInput formControlName="content" cdkTextareaAutosize cdkAutosizeMinRows="2"></textarea>
  <div class="toolbar">
    <div class="toolbar-right">
      <button type="submit" title="save">🛴</button>
    </div>
  </div>
</form>
