:host {
  display: block;
  background: var(--bg-color);
  color: var(--fg-color);
  border: 2px solid var(--accent-color);
  border-radius: 3px;
}

.toolbar {
  display: flex;
}

.toolbar-right {
  margin-left: auto;
  text-align: right;
}

.toolbar button {
  padding: 0.5rem;
  background: 0;
  border: 0;
}

pre,
textarea {
  padding: 0.5rem;
}

pre {
  font-family: inherit;
  margin: 0;
  white-space: pre-wrap;
}

textarea {
  background: transparent;
  color: inherit;
  outline: 0;
  font-size: 1rem;
  border: 0;
  width: 100%;
  resize: none;
  overflow: hidden;
}
