:host {
  display: block;
  padding: 1rem;
}

.title {
  display: inline-flex;
}

h1 {
  margin: 0 0 0.5rem;
}

.board {
  display: inline-flex;
  flex-wrap: nowrap;
}

app-column {
  margin-right: 1rem;
}

app-column,
.new-column {
  width: 100vw;
  max-width: 400px;
}

.new-column button {
  display: block;
  width: 100%;
  padding: 1rem;
}

app-card {
  margin-bottom: 0.5rem;
}

.dummy-card {
  padding: 0.5rem;
  text-align: center;
  border: 2px dashed var(--fg-color);
  border-radius: 3px;
  opacity: 0.75;
  margin-bottom: 0.5rem;
}
