<app-scrubber
  *ngIf="myBoard$ | async"
  class="scrubber"
  [min]="1"
  [max]="maxEvent"
  [value]="eventIndex"
  (valueChange)="onEventIndexChanged($event.value)"
></app-scrubber>
<h1 *ngIf="title$ | async as title">{{ title }}</h1>
<div class="board" cdkDropListGroup>
  <app-column
    *ngFor="let column of columns$ | async; trackBy: trackById"
    [column]="column"
    (titleUpdated)="updateColumnTitle(column.id, $event)"
    (cardAdded)="addCard(column.id)"
  >
    <div cdkDropList [cdkDropListData]="column.id" (cdkDropListDropped)="moveCard($event)">
      <div *ngIf="!column.cards.length" class="dummy-card">
        Add a card to get started.
      </div>
      <app-card
        *ngFor="let card of column.cards; trackBy: trackById"
        [card]="card"
        (contentUpdated)="updateCardContent(column.id, card.id, $event)"
        (upvoted)="upvoteCard(card.id)"
        (downvoted)="downvoteCard(card.id)"
        (deleted)="deleteCard(card.id, column.id)"
        cdkDrag
        [cdkDragData]="card.id"
      ></app-card>
    </div>
  </app-column>
  <div class="new-column">
    <button (click)="addColumn()">➕ ADD COLUMN</button>
  </div>
</div>
