input,
button {
  padding: 8px;
}

button {
  font-weight: bold;
}

.boards-container {
  display: flex;
  flex-wrap: wrap;
}

.board {
  border: 2px solid var(--fg-color);
  padding: 25px;
  margin: 0 25px 25px 0;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
}

.board:hover {
  box-shadow: 0 2px 6px 0 var(--fg-color);
  filter: brightness(75%);
}
