<div class="page-container">
  <h1>Create a Board</h1>
  <form (submit)="createBoard()">
    <p>
      <input [(ngModel)]="boardTitle" name="board-title" placeholder="Title" />
    </p>
    <p>
      <button type="submit" [disabled]="!boardTitle">Create</button>
    </p>
  </form>

  <ng-container *ngIf="boards && boards.length > 0">
    <h1>My Boards</h1>
    <div class="boards-container">
      <div class="board" *ngFor="let board of boards" [routerLink]="['/', board.id]">
        <p>{{ board.title }}</p>
        <p>{{ board.created | date }}</p>
      </div>
    </div>
  </ng-container>
</div>
