<div class="nav-left">
  <a class="brand" [routerLink]="['/']">
    RETRIO
    <sub>2.0</sub>
  </a>
</div>

<div class="nav-right">
  <ng-container *ngIf="showThemeOptions">
    <button type="button" (click)="chooseTheme('default')" title="dark">⚫</button>
    <button type="button" (click)="chooseTheme('light')" title="light">⚪</button>
    <button type="button" (click)="chooseTheme('hotdog')" title="beautiful">🌭</button>
    <button type="button" (click)="chooseTheme('pabst')" title="pabst">🍺</button>
  </ng-container>
  <button type="button" (click)="toggleThemeOptions()" title="choose theme">🎨</button>
</div>
