:host {
  display: flex;
  align-items: center;
  color: var(--bg-color);
  background: var(--accent-color);
}

.nav-left {
  margin-right: auto;
}

.brand {
  display: block;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--bg-color);
}

.brand sub {
  font-size: 1rem;
  opacity: 0.5;
}

button {
  font-size: 2rem;
  background: none;
  padding: 0.5rem 1rem;
  border: 0;
}

button:focus {
  outline: none; /* sorry a11y */
}
