<div *ngIf="!editing" class="title">
  <h1 *ngIf="column.title">
    {{ column.title }}
  </h1>
  <h1 *ngIf="!column.title" class="untitled">
    untitled
  </h1>
  <button type="button" (click)="edit()">📝</button>
</div>

<form *ngIf="editing" [formGroup]="formGroup" (ngSubmit)="save()" class="title editing">
  <input #titleInput formControlName="title" attr.name="title" />
  <button type="submit">🛴</button>
</form>

<ng-content></ng-content>

<button class="inverse new-card" type="button" (click)="addCard()">➕ ADD CARD</button>
