:host {
  display: block;
}

.title {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 0.5rem;
}

.title h1,
.title input {
  border: 2px solid transparent;
  border-radius: 3px;
  line-height: inherit;
  margin: 0;
  padding: 0.5rem;
  flex: 1;
  font-size: 1.5rem;
}

.title input {
  border-color: var(--fg-color);
  background: transparent;
  color: var(--fg-color);
}

.title input:focus {
  outline: none;
}

.title button {
  padding: 0.5rem;
  background: 0;
  border: 0;
}

.title button:focus {
  outline: none;
}

.title h1.untitled {
  font-style: italic;
  opacity: 0.75;
}

button.new-card {
  width: 100%;
}
